/* ************************************************
CSS Default
Author: Gianluca Buoncompagni - neo network
************************************************* */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, a,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {line-height:1;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { display:block;}
ul{list-style:none;}
del { text-decoration: line-through;}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table { border-collapse:collapse; border-spacing:0; font-size:inherit;}
hr {display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/* typography
====================================================== */
body, select, input, textarea { color:#4f453e; }
ol {list-style-type: decimal; }
small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; } 
/* sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; } */
sup, sub { vertical-align: baseline; position: relative;  top: -0.4em;}
sub { vertical-align: baseline; position: relative; top: 0.4em; }

/* forms 
====================================================== */
input, select { vertical-align:middle; }
/* align checkboxes, radios, text inputs with their label
by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button { width: auto; overflow: visible; cursor:pointer; }

/* helpers 
====================================================== */
.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
   }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.left       {float:left; display:inline;}
.right       {float:right; display:inline;}
.clear       {clear:both;}
.alt         {position: absolute; top: -5000px; text-indent: -5000px;}
.hidden      {display:none; visibility:hidden;} 
.active, 
.active a   {cursor: default;}

/* No text-shadow: twitter.com/miketaylr/status/12228805301 */
::-moz-selection{ background: #000; color:#fff; text-shadow: none; }
::selection { background:#000; color:#fff; text-shadow: none; } 
/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }
/* bicubic resizing : 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }
/* Errors */
.error{color:#c00;}
.error label{color:#c00;}
.error input,
.error textarea{border: 1px solid #c00;   background-color:#fff9b4;}

.animated{
   -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

/* struttura 
====================================================== */
html {
   -webkit-text-size-adjust:none;
   background: #fff url('../img/bg_mobile.jpg') right -20px no-repeat;
   background-size:620px auto;
}
body{
   /*background-color: #fff; */
   font-family: 'Bitter', serif;
   font-size: 15px;
   line-height: 1.4;
   color: #4f453e;
   padding: 0px;
   position: relative;
}
#main-wrap{
   background: url("../img/noise.png");
   padding: 20px 0;
}
h1{
	font-family:'Alfa Slab One', serif;
   font-size: 60px;
   font-weight: normal;
}
h2{
	font-family:'Alfa Slab One', serif;
   font-size: 24px;
   font-weight: normal;
   color: #ba433d;
}
h3{
	font-family:'Alfa Slab One', serif;
   font-size: 16px;
   font-weight: normal;
   margin-top: 20px;
}

a{ color: #000;}
p{ margin-bottom: 8px; }
nav{   
   position: absolute;
   top:-50px;
   right:0;
   left:0;
   padding: 30px 10px 0;
   background: #4f453e;
   z-index: 2;
   box-shadow: 0 8px 15px -12px #000;
   -webkit-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
}
nav.closed{ 
   -webkit-transform: translate3d(0,-235px,0);
   transform: translate3d(0,-235px,0);   
 }
nav:after{
   content:'☰ menu';
   background: #4f453e;
   color: #fff;
   position: absolute;
   bottom:-30px;
   right:10px;
   padding: 10px 20px 5px;
   -webkit-border-bottom-right-radius: 2px;
   -webkit-border-bottom-left-radius: 2px;
   -moz-border-radius-bottomright: 2px;
   -moz-border-radius-bottomleft: 2px;
   border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px; 
   box-shadow: 0 4px 6px -5px #000; 
}

nav a{
   color: #fff;
   display: block;
   width: 100%;
   height: 100%;
   text-decoration: none;
}
nav li{
   padding: 0 5px;
   line-height: 45px;
   font-size: 16px;
   border-bottom: 1px solid #3c352f;
   border-top: 1px solid #5f534b;
}
#backHome{
   display: none;
}
.more{
   display: none;
}
section{
   padding: 0px 10px 20px;
   margin-bottom: 10px;
   position: relative;
   min-height: 50px;
}
#events:after,
#feed:after,
#music:after,
#booking:after{
   content: '';
   position: absolute;
   bottom:0;
   left:50%;
   width: 70%;
   margin-left: -35%;
   height: 1px;
   border-top: 1px solid #efefef;
   border-bottom: 1px solid #fff;
}
.btn{
   font-size: 13px;
   display: inline-block;
   background-color: rgba(80,70,60, 0.5);
   color: #fff;
   padding: 4px 8px;  
   text-decoration: none;
   clear: both;
-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
}
.btn > span{
	position:relative;
	top:1px;
}
.show-more,
.hide-more{
   text-align: center;
   margin:10px auto;     
}

.truncate{
	display:inline-block;
	width:100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.basicList li.no-border{
   box-shadow: none;
}
.no-mobile{
   display: none;
}

/* Header
====================================================== */
header{
   padding:20px 0px 0;
}
.claim{
	font-family:'Alfa Slab One', serif;
   font-size: 15px;
   width: 70%;
   line-height: 1.2;
   color: #8b827c;
   margin-bottom: 0px;
}

/* About
====================================================== */
.white-bg{
   display: inline;
   background-color: rgba(255, 255, 255, 0.8);
}

/* Events
====================================================== */
.basicList li{
   padding: 5px 5px 5px 26px;
	margin-bottom:8px;
	line-height: 1.2;
	position: relative;
/*   background-color: #fff;*/
	border-bottom: 1px solid #f2f2f2;
/*   box-shadow: 0 4px 6px -4px #ccc;*/
	/*-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	   border-radius: 2px;*/
}
.basicList li.no-style{
   padding: 0;
	margin-bottom:0;
	background-color: transparent;
	border: none;
	box-shadow: none;
}
.basicList li .ico{
   position: absolute;
   left:0;
   top:5px;
   color: #4f453e;
   font-size: 18px;
}
.event-date{
   font-weight: bold;
   font-size: 14px;   
}
.event-venue{
   color: #000;
   font-weight: bold;
   text-transform: uppercase;
   margin: 3px 0;
   float: left;
   text-decoration: none;
}
.event-venue a{
   color: #000;
   text-decoration: none;
}
.event-location{
   clear: both;
   font-size: 14px;
}


/* Feeds
====================================================== */
#feed .basicList li{
   padding-bottom: 20px;	
}
.pic{
/*   float:left;*/
	margin: 4px 8px 4px 0;
}
.feed-title{
   font-weight: bold;
}
.feed-date{
	font-size:11px;
   position: absolute;
   right:4px;
   bottom:4px;
   color: #8b827c;
   line-height: 16px;
   padding: 2px 3px 0px 5px;
   background: #fff url("../img/noise.png");;
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
	border:1px solid #f2f2f2;
   box-shadow: inset 1px 2px 5px 0 #efefef;
}
.feed-message, 
.feed-description{
   margin-bottom: 8px;
}
.media-link{
   display: block;
   position: relative;
   text-decoration: none;
/*   float: left;*/
   margin-right: 8px;
}
.media-link .pic{
   margin-right: 0;
   width: 100%;   
   height:auto;
}
.media-link [class^="icon-"]{
   display: none;
}
.feed-btn{
   background-color: #ba433d;
   color: #fff;
   margin-bottom: 4px;
}
#events .show-more,
#events .hide-more,
#feed .show-more,
#fedd .hide-more{   
   margin-top:0;     
}

/* Bookings & Social
====================================================== */
#social{
 margin-bottom: 0px;  
 min-height: 0px;
}
.socialList{
   margin-bottom: 30px;
}
.socialList li{
   display: inline-block;
}
.socialList li .btn{
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   
}
.btn-true{background: rgba(180, 200, 110, 0.8)}
.btn-fb{background: rgba(60, 90, 150, 0.8)}
.btn-rn{background: rgba(151, 151, 151, 0.8)}
.btn-yt{background: rgba(203, 50, 44, 0.8)}

#fbLikeBtn{
   position: absolute;
   bottom:0px;
   left:10px;
}
